{# see WaiBlue\GuideVis\Loader->getPageVars() for the list of available variables #}

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel='shortcut icon' href='{{ templateRootUrl }}/assets/logo-hubleto.png'>
  <title>Hubleto | Developer's guide</title>
  <link rel="stylesheet" type="text/css" href="{{ templateRootUrl }}/assets/css/book.css">
  <link rel="stylesheet" type="text/css" href="{{ templateRootUrl }}/assets/css/fontawesome-6.6.css">
  {{ elements.htmlHead|raw }}
</head>
<body>
  {{ elements.header|raw }}
  {{ elements.sidebar|raw }}
  <!-- Content -->
  <div class="content">
    {{ content|raw }}
  </div>
  {% if pageConfig.tocData.prev or pageConfig.tocData.next %}
    <div class="content flex justify-between">
      <div class="flex-1 text-left">
        {% if pageConfig.tocData.prev %}
          <a href="{{ pageConfig.tocData.prev }}">&laquo; Previous page</a><br/>
          <small>{{ pageConfig.tocData.prevPageData.title }}</small>
        {% endif %}
      </div>
      <div class="flex-1 text-right">
        {% if pageConfig.tocData.next %}
          <a href="{{ pageConfig.tocData.next }}">Next page &raquo;</a><br/>
          <small>{{ pageConfig.tocData.nextPageData.title }}</small>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {{ elements.onThisPage|raw }}
  {{ elements.footer|raw }}

  <script src="{{ guideRootUrl }}/node_modules/preline/dist/preline.js"></script>
</body>
</html>