{# see WaiBlue\GuideVis\Loader->getPageVars() for the list of available variables #}

<html>
<head>
  {% include('elements/html-head.twig') %}
</head>
<body>
  {% include('elements/header.twig') %}
  {% include('elements/sidebar.twig') %}


  <!-- Content -->
  <div class="content">
    {{ content|raw }}
  </div>
  {% if pageConfig.tocData.prev or pageConfig.tocData.next %}
    <div class="content flex justify-between">
      <div class="flex-1 text-left">
        {% if pageConfig.tocData.prev %}
          <a href="{{ env.guideRootUrl }}/{{ pageConfig.tocData.prev }}">&laquo; Previous page</a><br/>
          <small>{{ pageConfig.tocData.prevPageData.title }}</small>
        {% endif %}
      </div>
      <div class="flex-1 text-right">
        {% if pageConfig.tocData.next %}
          <a href="{{ env.guideRootUrl }}/{{ pageConfig.tocData.next }}">Next page &raquo;</a><br/>
          <small>{{ pageConfig.tocData.nextPageData.title }}</small>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% include('elements/on-this-page.twig') %}
  {% include('elements/footer.twig') %}

  <script src="{{ guideRootUrl }}/node_modules/preline/dist/preline.js"></script>

  <script>hljs.highlightAll();</script>
</body>
</html>
